# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/
build/
coverage/

# IDE / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# npm/yarn locks
# package-lock.json
# yarn.lock
